<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/97_logo_inverted.png">
    <title>97Runners</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="bg">
<div class="container">
    <div id="runner-progress-root"></div>
    <nav class="navigation">
        <a href="/running/record" class="nav-link">러닝 기록</a>
    </nav>
</div>

<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="/js/runner-progress.js"></script>
</body>
</html>